/* Styling the Body element i.e. Color,
    Font, Alignment */
body {
    background-color: #F7F6DC;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Styling the Form (Color, Padding, Shadow) */
form {
    background-color: #fff;
    max-width: 500px;
    margin: 0px auto;
    margin-bottom: 30px;
    padding: 10px 13px;
    box-shadow: 2px 5px 13px rgba(0, 0, 0, 0.3);
}

.results {
    background-color: #fff;
    max-width: 500px;
    margin: auto;
    margin-bottom: 40px;
    padding: 13px 13px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.div-button {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 8px;
}

/* Styling form-control Label */
.form-control label {
    display: inline-block;
    margin-bottom: 2px;
    text-align: right;
}

/* Styling form-control input,
    select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: inline-block;
    width: 20%;
}

/* Styling form-control Radio
    button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button {
    background-color: #7FB77E;
    border: 1px solid #777;
    border-radius: 3px;
    font-family: inherit;
    font-size: 23px;
    display: block;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    margin: 70px auto;
    padding: 8px 10px;
}

button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.div-references
{
    text-align: justify;
    text-justify: inter-word;
    max-width: 700px;
    margin: 20px auto;
    font-size: 80%;
    
}

.label-name{
    font-weight: bold;
}

.p-title{
    font-style: italic;
    font-size: 105%;
}

.div-paper-references
{
    text-align: left;
    text-justify: inter-word;
    max-width: 1000px;
    margin: 20px auto;
    font-size: 100%;
    
}